* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 6px;
    color: #393939;
    font-weight: 400;
}

body {
    font-family: 'Open Sans';
}

h1,h2{
    font-size: 10rem;
    font-weight: 300;
}

h3, nav h2, footer h3{
    font-size: 5.5rem;
    font-weight: 300;
}

nav ul, button{
    font-size: 3.5rem;
}

p{
    font-size: 3rem;    
}

ul{
    list-style-type:none;
}

.coffee-bean-logo{
    width: 8.333rem;
    height: 8.333rem;
}

a{
    text-decoration: none;
    color:#393939;
}


