body {
    font-family: 'Open Sans';
    font-weight: 400;
}

h1,h2{
    font-size: 60px;
    font-weight: 300;
    color: #393939;
}

h3, nav h2{
    font-size: 33px;
    font-weight: 300;
    color: #393939;
}

nav ul{
    font-size: 21px;
    font-weight: 400;
}

p{
    font-size: 18px;
    font-weight: 400;
    color: #393939;
}

ul{
    list-style-type:none;
}

.coffee-bean-logo{
    width: 50px;
}