* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 6px;
    color: #393939;
    font-weight: 400;
}

body {
    font-family: 'Open Sans';
}

h1,h2{
    font-size: 10rem;
    font-weight: 300;
}

h3, footer h3{
    font-size: 5.5rem;
    font-weight: 300;
}

nav ul, button{
    font-size: 3.5rem;
}

p{
    font-size: 3rem;    
}

ul{
    list-style-type:none;
}

/* .coffee-bean-logo{
    width: 8.333rem;
    height: 8.333rem;
} */

a{
    text-decoration: none;
    color:#393939;
}


/* BEM used for navigation bar */
.navbar{
    background-color: #fff0ed;
    /* margin-bottom: 6.667rem; */
    padding: 3rem;
}

.logoImg{
    width: 8.333rem;
    height: 8.333rem;
    display: inline-block;
    /* vertical-align: bottom; */
}

.navbar__title{
    font-size: 10rem;
    display: inline-block;
    margin: 0 3.333rem 0 0;
}

.navbar__option{
    color: #393939;
    display: inline-block;
    margin: 0 3.333rem;
}

.navbar__items{
    display: inline-block;
}

.navbar__option--highlight, .navbar__option--highlight a{
    color: #5BACC3;
    display: inline-block;
    margin: 0 1.667rem;
}
