
/* Refactored CSS */
/* BEM used for navigation bar */
/* .navbar{
    background-color: #fff0ed;
    margin-bottom: 10rem;
}

.logoImg{
    width: 8.333rem;
    height: 8.333rem;
}

.navbar__title{
    font-size: 5.5rem;
}

.navbar__option{
    color: #393939;
}

.navbar__option--highlight{
    color: #5BACC3;
} */

/* BEM used for hero block */

.heroBlock{
    background-color: #fff0ed;
    margin-bottom: 3.333rem;
}

.heroBlock__title{
    margin-bottom: 3.333rem;
}

.heroBlock__body{
    margin: 3.333rem 0;
}

.heroBlock__imageContainer{
    height: 40vw;
    width: 50%;
    margin: 0 auto;
}

.heroBlock__image{
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.heroBlock__button{
    color: #FFF;
    width: 30rem;
    padding: 3.333rem;
    background-color: #5BACC3;
    border: none;
}

/* change color of button when mouse hovers over it */
button:hover{
    background-color: #3490aa;
}

/* BEM used for product block */

/* .productBlock{
    margin-bottom: 10rem;
} */
.productBlock__title{
    margin-bottom: 3.333rem;
    padding: 3.333rem 0 0 0;
}

.productBlock__button{
    color: #FFF;
    width: 30rem;
    padding: 3.333rem;
    background-color: #5BACC3;
    border: none;
    display: block;
}

.productBlock__cardContainer{
    text-align: center;
    margin-bottom: 3.333rem;
}

.card{
    width: 55rem;
    height: 73.333rem;
    padding: 3.333rem;
    border-radius: 10px;
    box-shadow: 0 5px 9px -1px rgba(0,0,0,0.25);
    display: inline-block;
    vertical-align: middle;
    margin: 6.667rem; 
    text-align: center;
}

.card__imgContainer{
    height: 40rem;
    width: 100%;
    padding: 1.667rem;
    /* border: 1px solid black; */
    /* margin: 0 auto; */
}

.card__imgContainer img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.card h3{
    padding: 3.333rem;
}
.card__price{
    color:#5BACC3;
    font-weight: 400;
    font-size: 5.5rem;
    vertical-align: middle;
}

/* BEM formatting for discount section */
.discountBlock{
    margin-bottom: 3.333rem;
    width: 90%;
    background-color: #393939;
    text-align: center;
}

.discountBlock__body{
    color: #FFF;
    font-size: 7.5rem;
    font-weight: 400;
    margin-top: 0;
}

.discountBlock__body--bold, .footerItem span{
    font-weight: 700;
}

.footerBlock{
    background-color: #fff0ed;
    margin-top: 6.667rem;
}

.footerItem__title{
    margin-bottom: 6.667rem;
}

.footerItem p{
    margin-bottom: 3.333rem;
}



/* formatting the images on the page */
/* section img {
    height: 280px;
}
header img{
    height:500px;
} */

/* formatting header elements */
/* nav{
    background-color: #fff0ed;
}

div.nitro-info{
    background-color: #fff0ed;
} */

/* .card p{
    color: #5bacc3;
    font-size: 33px;
    font-weight: 400;
} */

/* discount formatting */
/* .discount{
    width: 90%;
    background-color: #393939;
    text-align: center;
    
}
.discount p{
    color: #FFF;
    font-size: 45px;
    font-weight: 400;
    margin-top: 0px;
}
.discount p span{
    font-weight: 700;
} */

/* button formatting */
/* button{
    background-color: #5bacc3;
    color:#fff;
    border: none;
}
button:hover{
    background-color: #3490aa;
} */

/* social logo formatting */
/* .social img {
    width: 50px;
} */

/* footer formatting */
/* footer{
    background-color: #fff0ed;
}
.hours p span{
    font-weight: 700;
} */



/* .hours{
    margin-bottom: 3.333rem;
}

.hours__title{
    margin-bottom: 3.333rem;
}

.social__title{
    margin-bottom: 3.333rem;
} */
